<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.native_webview">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /><!-- 잠금화면 점유 -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:keepScreenOn="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Native_webview">
<!--        <activity-->
<!--            android:name=".LockScreenActivity"-->

<!--            android:theme="@style/Theme.Native_webview"-->
<!--            android:excludeFromRecents="true"-->
<!--            android:launchMode="singleInstance"-->
<!--            android:taskAffinity="com.bluewhale.lockscreentest.lockscreen"/>-->

        <receiver android:name="receiver.MyWakefulReceiver"></receiver>
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" /> <!-- 네이티브 앱 키 설정 -->
        <!--        <service android:name=".service.LockScreenService"-->
<!--            android:enabled="true"-->
<!--            android:permission="android.permission.SYSTEM_ALERT_WINDOW"-->
<!--            android:exported="false"/>-->
    </application>

</manifest>